body
  font-size 20px

  .tableContainer
    padding 10px

    table
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

  span.black
    color #000
  span.white
    color #fff

  td.board
    font-size 32px
    border 2px solid #009
    width 50px
    height 50px
    max-width 50px
    max-height 50px
    padding 0
    text-align center
    span
      font-size 32px
    .black,.white
      &:hover
        cursor pointer
    .clicked
      background-color #4d99cc

  .infobox
    height 200px
    span:nth-of-type(1)
      font-size 40px
    ul
      list-style-type none
      padding 0
      li
        display inline
    &#black 
      span:nth-of-type(1)
        color: #000
      li
        color #000
    &#white 
      span:nth-of-type(1)
        color #fff
      li
        color #fff
    .username
      margin-left 20px
    .currentPlayerIndicator
      font-size 20px
      margin-left 20px

.gray
  background-color #999

tr.board:nth-of-type(2n-1)
  td.board:nth-of-type(2n)
    background-color #9cf
    &.clicked
      background-color #4d99cc
  td.board:nth-of-type(2n+1)
    background-color #069
    &.clicked
      background-color #4d99cc
tr.board:nth-of-type(2n)
  td.board:nth-of-type(2n+1)
    background-color #9cf
    &.clicked
      background-color #4d99cc
  td.board:nth-of-type(2n)
    background-color #069
    &.clicked
      background-color #4d99cc

.descriptor
  padding 0 10px
  text-align center

.fadedOverlay
  background-color rgba(200, 200, 200, .7)
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
  #menu
    width 375px
    background-color #333
    color #fff
    border-radius 10px
    margin 100px auto
    padding 10px
    li.selected
      font-weight bold
      background-color #444
    h1
      text-align center
      margin 10px 0
    .radio
      margin-left 5px
    #button, .form-control
      width 100%

.hidden
  display none













