body
  background-color #bdbdbd
.contentBox
  background-color #bdbdbd
  width 175px
  border-width 2px
  border-style solid
  border-color #fff #7b7b7b #7b7b7b #fff
  .heading
    border-width 2px
    border-style solid
    border-color #7b7b7b #fff #fff #7b7b7b
    margin 7px
    *
      display inline
    img
      margin 0
    .minesLeft
      float left
    .restartButton
      margin-left 20px
    .timer
      float right
  table
    border-collapse separate
    border-width 2px
    border-style solid
    border-color #7b7b7b #fff #fff #7b7b7b
    margin 7px
    td
      width 20px
      height 20px
      &.notclicked
        border-width 2px
        border-style solid
        border-color #fff #7b7b7b #7b7b7b #fff
      &.clicked
        border-width 1px
        border-style solid
        border-color #7b7b7b
      &.bombdead
        background-image url("http://www.freeminesweeper.org/images/bombdeath.gif")
        background-size 100%
      &.bomb
        background-image url("http://www.freeminesweeper.org/images/bombrevealed.gif")
        background-size 100%
      &.one
        background-image url("http://www.freeminesweeper.org/images/open1.gif")
        background-size 100%
      &.two
        background-image url("http://www.freeminesweeper.org/images/open2.gif")
        background-size 100%
      &.three
        background-image url("http://www.freeminesweeper.org/images/open3.gif")
        background-size 100%
      &.four
        background-image url("http://www.freeminesweeper.org/images/open4.gif")
        background-size 100%
      &.five
        background-image url("http://www.freeminesweeper.org/images/open5.gif")
        background-size 100%
      &.six
        background-image url("http://www.freeminesweeper.org/images/open6.gif")
        background-size 100%
      &.seven
        background-image url("http://www.freeminesweeper.org/images/open7.gif")
        background-size 100%
      &.eight
        background-image url("http://www.freeminesweeper.org/images/open8.gif")
        background-size 100%
      &.nine
        background-image url("http://www.freeminesweeper.org/images/open9.gif")
        background-size 100%
      &.flagged
        background-image url("http://www.freeminesweeper.org/images/bombflagged.gif")
        background-size 100%


